/.calva/output-window/
/.clj-kondo/.cache/
/.lsp/.cache/
/.shadow-cljs/
/.cpcache

/.env
/node_modules/
/public/*.js
/public/cljs-runtime
/public/manifest.edn
/target
/checkouts

/.idea
/.nrepl-*
/.DS_Store
*.log
*.swp

