{:paths   ["src/main"]
 :deps    {org.clojure/clojure        {:mvn/version "1.11.1"}
           org.clojure/clojurescript  {:mvn/version "1.11.60"}
           applied-science/js-interop {:mvn/version "0.4.2"}
           funcool/promesa            {:mvn/version "11.0.671"}}

 :aliases {:dev      {:extra-paths ["src/dev"]
                      :extra-deps  {binaryage/devtools   {:mvn/version "1.0.7"}
                                    thheller/shadow-cljs {:mvn/version "2.23.3"}}}

           :test     {:extra-paths ["src/test"]
                      :extra-deps  {nubank/matcher-combinators {:mvn/version "3.8.5"}}}

           :outdated {:replace-deps {olical/depot        {:mvn/version "RELEASE"}
                                     org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
                      :main-opts    ["-m" "depot.outdated.main"
                                     "--aliases" "loom,dev,test"]}}}
