{:deps   {:aliases [:dev]}
 :builds {:web {:target           :browser
                :output-dir       "public"
                :modules          {:shared {:entries []}
                                   :app    {:entries    [relax.app]
                                            :depends-on #{:shared}}
                                   :worker {:init-fn    relax.worker/init
                                            :depends-on #{:shared}
                                            :web-worker true}}
                :compiler-options {:output-feature-set :es8}
                :js-options       {:resolve {"Howl" {:target :global
                                                     :global "Howl"}}}
                :devtools         {:after-load relax.app/run
                                   :http-root  "public"
                                   :http-port  8900}}}}
