html, body, div, span, svg {
  margin: 0;
  padding: 0;
  cursor: inherit;
  user-select: none;
}


svg {
  display: block;
}


body {
  width: 100vw;
  height: 100vh;
  font-family: system-ui;
  cursor: pointer;
}

#wrapper {
  background-color: hsl(0 0% 10%);
  color: #eee;
}


#app {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}


#app > svg {
  width: 100%;
  aspect-ratio: 2 / 1;
}


.toggle {
  position: absolute;
  top: 1em;
  color: rgb(60,60,60);
  border-bottom: 1px dashed rgb(60,60,60);
}


.toggle:hover {
  color: rgb(80,80,80);
  border-bottom: 1px dashed rgb(80,80,80);
}


.toggle[data-value="on"] {
  color: rgb(20,60,20);
  border-bottom-color: rgb(20,60,20);
}


#audio {
  right: 1em;
}


#fullscreen {
  left: 1em;
}
