html, body, div, span, svg {
  margin: 0;
  padding: 0;
  cursor: inherit;
  user-select: none;
}


svg {
  display: block;
}


/* In fullscreen the #wrapper is the "fullscreen" element. Thus its important
   that both body and @wrapper have background color set. */


body {
  font-family: system-ui;
  cursor: pointer;
  background-color: hsl(0 0% 10%);
}


#wrapper {
  width: 100dvw;
  height: 100dvh;
  background-color: hsl(0 0% 10%);
  position: relative;
}


#controls {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-areas: 
    "fullscreen sound"
    "prev next";
  > div {
    position: relative;
    > span {
      position: absolute;
      padding: 0.5em;
      color: rgb(60, 60, 60);
    }
    &:hover > span {
      color: rgb(100, 100, 100);
    }
    &.active > span {
      color: rgb(23, 87, 23);
    }
  }
}


#fullscreen { 
  grid-area: fullscreen; 
  > span {
    top: 0;
    left: 0;
  }
}


#sound { 
  grid-area: sound; 
  > span {
    top: 0;
    right: 0;
  }
}


#prev { 
  grid-area: prev; 
  > span {
    bottom: 0;
    left: 0;
  }
}


#next { 
  grid-area: next; 
  > span {
    bottom: 0;
    right: 0;
  }
}


#app {
  position: absolute;
  inset: 0;
  display: flex;
  justify-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}


#app > svg {
  width: 100%;
  &.ar-2-1 {
    aspect-ratio: 2 / 1;
  }
  &.ar-1-1 {
    aspect-ratio: 1 / 1;
  }
}


#next {
  bottom: 1em;
  right: 1em;
}


#prev {
  bottom: 1em;
  left: 1em;
}


#scene-name {
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 100vw;
  text-align: center;
  color: #575757;
}